:root {
  --primary: #7900FF;
  --thisweek: #32c091;
  --nextweek: var(--primary);
  --nanti:  #ea0d0d;
  /* --light: #EEE; */
  /* --light: linear-gradient(180.3deg, rgba(214, 224, 255, 1) 37.2%, rgba(254, 168, 168, 1) 137.3%); */
  --light: #E5D1FA;
  /* --light: linear-gradient(174.2deg, rgba(255, 244, 228, 1) 7.1%, rgba(240, 246, 238, 1) 67.4%); */
  --grey: #888;
  --dark: #313154;
  --danger: #FF5B57;

  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  --thisweek-glow: 0px 0px 4px rgba(136, 241, 124, 0.75);
  --nextweek-glow: 0px 0px 4px rgba(103, 61, 243, 0.75);
  --nanti-glow: 0px 0px 4px rgba(234, 24, 24, 0.75);
 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'monserrat', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

body {
  background: var(--light);
  color: var(--dark);
}

.app {
  width: 70%;
  margin: auto;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h3 {
  color: var(--dark);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

h4 {
  color: var(--grey);
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.greeting .title {
  display: flex;
}

.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
}

.greeting .title {
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 700;
}

.greeting .title .text {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 700;
}

.create-todo input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: var(--dark);
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
}

.create-todo .options {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

.create-todo .options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #FFF;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--thisweek);
  box-shadow: var(--thisweek-glow);
}

.bubble.nextweek {
  border-color: var(--nextweek);
  box-shadow: var(--nextweek-glow);
}

.bubble.nanti {
  border-color: var(--nanti);
  box-shadow: var(--nanti-glow);
}


.bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--thisweek);
  box-shadow: var(--thisweek-glow);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.bubble.nextweek::after {
  background-color: var(--nextweek);
  box-shadow: var(--nextweek-glow);
}

.bubble.nanti::after {
  background-color: var(--nanti);
  box-shadow: var(--nanti-glow);
}

input:checked~.bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.create-todo .options label div {
  color: var(--dark);
  font-size: 1.125rem;
  margin-top: 1rem;
}

.create-todo input[type="submit"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: #FFF;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: var(--nextweek-glow);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover {
  opacity: 0.75;
}

.todo-list .list {
  margin: 1rem 0;
}

.todo-list .todo-item {
  display: flex;
  align-items: center;
  background-color: #FFF;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.todo-item label {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}

.todo-item .todo-content {
  flex: 1 1 0%;
}

.todo-item .todo-content input {
  color: var(--dark);
  font-size: 1.125rem;
}

.todo-item .actions {
  display: flex;
  align-items: center;
}

.todo-item .actions button {
  display: block;
  padding: 0.3rem;
  border-radius: 0.25rem;
  color: #FFF;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
  opacity: 0.75;
}

.todo-item .actions .edit {
  margin-right: 0.5rem;
  background-color: var(--primary);
}

.todo-item .actions .delete {
  background-color: var(--danger);
}

.todo-item.done .todo-content input {
  text-decoration: line-through;
  color: var(--grey);
}

.clear .clearbtns button{
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: #FFF;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: var(--nextweek-glow);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.clear .clearbtns button:hover {
  opacity: 0.75;
}


@media screen and (max-width: 768px) {
  .app {
    width: 85%;
    margin: auto;
  }
}

@media screen and (max-width: 576px) {
  .app {
    width: 95%;
    margin: auto;
  }
}